#msg-erro {
    width: 49%;
    background-color: #ffffff;
    color: #ffffff;
    padding: .4rem 0;
    margin: .4rem 0;
    border-radius: 4px;
    display: inline-block;
}

#msg-sucesso {
    width: 49%;
    color: #00bb00;
    background-color: #bbffbe;
    padding: .4rem 0;
    margin: .4rem 0;
    border-radius: 4px;
    display: none;
}

.formulario-cadastro label, .formulario-cadastro input {
    display: block;
    text-align: left;
    width: 50%;
}

.formulario-cadastro label{
    margin: 0 0 0.5rem 14.5rem;
    font-size: 1.25rem;
}

.formulario-cadastro button {
    width: 30%;
}

.fa-info-circle {
    color: #bbbbbb;
}

.fa-info-circle:hover {
    cursor: pointer;
}

.input-senha {
  position: relative;
  width: 27.7rem;
  left: 14.2rem;
}

.input-senha input {
  width: 100%;
  padding-right: 30px;
}

.tooltip-padrao {
    position: relative;
     display: inline;
    cursor: pointer;
    margin-left: .5rem;
}

.tooltip-padrao span {
    position: absolute;
    width: 24rem;
    font-size: .8rem;
    line-height: 1.4rem;
    color: #000000;
    background: #d6d6d6;
    height: fit-content;
    text-align: center;
    visibility: hidden;
    border-radius: 8px;
}

.tooltip-padrao span:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 15%;
}

.tooltip-padrao:hover span {
    visibility: visible;
    opacity: 0.9;
    top: -1rem;
    left: 145%;
    z-index: 999;
    box-shadow: 1px 1px 1.5px 1px #00000050;
}

.tooltip-linha-unica span {
    width: max-content;
    padding: 0 1rem;
}

.tooltip-linha-unica:hover span{
    top: .2rem;
}

.mostra-senha-padrao, .esconde-senha-padrao {
  position: absolute;
  top: 7px;
  right: -30px;
  width: 18px;
  z-index: 10;
  border: none;
  background: transparent;
  outline: none;
}

.mostra-senha-padrao:hover, .esconde-senha-padrao:hover {
    cursor: pointer;
}

.esconde-senha-padrao {
    display: none;
}

.divisor {
    margin: 2% auto;
    width: 40%;
}

.link-login a {
    text-decoration: none;
    font-weight: bold;
    color: #008300;
    transition: all .3s ease-out;
}

.link-login a:hover {
    color: #6ECD24;
}
