#msg-erro {
    width: 49%;
    background-color: #ffffff;
    color: #ffffff;
    padding: .4rem 0;
    margin: .4rem 0;
    border-radius: 4px;
    display: inline-block;
}

#msg-sucesso {
    width: 49%;
    color: #00bb00;
    background-color: #bbffbe;
    padding: .4rem 0;
    margin: .4rem 0;
    border-radius: 4px;
    display: none;
}

.formulario-login label, .formulario-login input {
    display: block;
    text-align: left;
    width: 50%;
}

.formulario-login label {
    font-size: 1.25rem;
    margin: 0 0 0.5rem 14.5rem;
}

.formulario-login button {
    width: 30%;
}

.fa-info-circle {
    margin-left: .5rem;
    color: #bbbbbb;
}

.fa-info-circle:hover {
    cursor: pointer;
}

.input-senha {
  position: relative;
  width: 27.7rem;
  left: 14.2rem;
}

.input-senha input {
  width: 100%;
  padding-right: 30px;
}

.mostra-senha, .esconde-senha {
  position: absolute;
  top: 7px;
  right: -30px;
  width: 18px;
  z-index: 10;
  border: none;
  background: transparent;
  outline: none;
}

.mostra-senha:hover, .esconde-senha:hover {
    cursor: pointer;
}

.esconde-senha {
    display: none;
}

.divisor {
    margin: 2% auto;
    width: 40%;
}

.link-cadastro a {
    text-decoration: none;
    font-weight: bold;
    color: #008300;
    transition: all .3s ease-out;
}

.link-cadastro a:hover {
    color: #6ECD24;
}
