@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    min-height: 100vh;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

header, footer {
    background-color: #003300;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
}

.cabecalho-conteudo {
    width: 940px;
    margin: auto;  
    display: flex;  
}

.cabecalho-conteudo-esquerdo {
    display: flex;
    flex: 0.99;
}

.cabecalho-conteudo-esquerdo a {
    display: contents;
}

.cabecalho-conteudo-esquerdo img {
    width: 13%;
    margin: 0.5rem 0.3125rem 0.5rem 2rem;
}

.cabecalho-conteudo-esquerdo h1 {
    font-size: 1.75rem;
    text-decoration: none;
    color: white;
    margin: 2.1rem 0 0 0.5rem;
}

#cabecalho-nome {
    font-size: 2rem;
    margin-bottom: 0.2rem;
}

.cabecalho-login-cesta {
    display: flex;
    margin-top: 0.2rem;
    align-items: center;
    justify-content: center;
}

.cabecalho-login-cesta a {
    text-decoration: none;
}

.cabecalho-login {
    margin-left: .5rem;
    flex: 1;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #003300;
    background-color: #FF8900;
    border: none;
    padding: 0 1rem;
    font-size: 1rem;
    
    border-radius: 8px;
    width: max-content;
    transition: all .3s ease-out;
}

.cabecalho-login:hover {
    background-color: #FFAA20;
    cursor: pointer;
}

.fa-user-circle-o {
    margin: .1rem .1rem .1rem .5rem;
}

.fa-shopping-basket {
    margin-left: .5rem;
    color: #FF8900;
    transition: all .3s ease-out;
}

.fa-shopping-basket:hover {
    color: #FFAA20;
    cursor: pointer;
}

.cabecalho-carrinho {
    flex: 0.6;
    margin-left: 1rem;
    width: 14%;
    cursor: pointer;
}

.cabecalho-navegacao {
    display: flex;
    flex-direction: column;
}

.cabecalho-navegacao {
    flex: 1;
    padding-top: 2rem;
}

.cabecalho-navegacao li {
    display: inline;
    font-size: 1.5rem;
    margin-left: 0.5rem;
}

.cabecalho-navegacao a {
    color: white;
    text-decoration: none;
}

.cabecalho-navegacao a:hover {
    text-decoration: underline;
}

.conteudo-pagina {
    width: 940px;
    margin: 3rem auto;
    text-align: center;
}

.rodape-conteudo {
    text-align: center;
    padding-bottom: 1.5rem;
    color: #ffffff;
}

.rodape-conteudo img {
    width: 6%;
    padding-left: 1rem;
    margin: 1.5rem auto;
}

.titulo-pagina {
    font-size: 2rem;
    font-weight: bold;
}

.nao-selecionavel {
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
}

.input-padrao {
    display: block;
    font-size: 1rem;
    width: 60%;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 1px 1px 1.5px 1px #00000060;
    margin: 0 auto 1.5rem auto;
    padding-left: 0.75rem;
    outline: none;
}

.input-padrao:focus {
    box-shadow: 1px 1px 1.5px 1px #000000;
}

.input-padrao:not(form textarea) {
    height: 30px;
}

.botao-padrao {
    display: block;
    width: 30%;
    margin: auto;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 8px;
    padding: 1rem 0;
    box-shadow: 1px 1px 1.5px 1px #000000;
    transition: 0.6s;
    cursor: pointer;
    color: #ffffff;
    background-color: #FF8900;
    border: none;
}

.botao-padrao:hover {
    color: #ffffff;
    background-color: #FFAA20;
}