.titulo-pagina {
    font-size: 2rem;
    font-weight: bold;
}

.index-conteudo p:not(.index-endereco p), .index-endereco {
    font-size: 1.25rem;
    width: 90%;
    margin: 2rem auto;
}

.index-imagens {
    display: inline;
    text-align: center;
    width: 200px;
    height: 200px;
}

.index-imagens img {
    margin: 0 1rem;
    width: 45%;
    height: 45%;
}

.index-mapa {
    width: 940px;
    text-align: center;
    margin: 0 auto;
}

.produtos-conteudo p {
    font-size: 1.25rem;
    margin: 1.5rem 0;
}

.produtos-conteudo li {
    display: inline-block;
    font-size: 1.25rem;
    width: 25%;
    height: 25%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    border: none;
    transition: 0.3s;
}

.produtos-conteudo li:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.produtos-preco {
    margin: 0.5rem 0;
    font-weight: bold;
}

.contato-conteudo p {
    font-size: 1.25rem;
    margin: 2rem auto;
    text-align: center;
}

.contato-conteudo form label, .contato-preferencia legend {
    display: block;
    font-size: 1.25rem;
    margin: 0 0 0.5rem 11.5rem;
    text-align: left;
}

.input-padrao {
    display: block;
    width: 60%;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 1px 1px 1.5px 1px #00000060;
    margin: 0 auto 1.5rem auto;
    padding-left: 0.75rem;
    outline: none;
}

.input-padrao:focus {
    box-shadow: 1px 1px 1.5px 1px #000000;
}

.input-padrao:not(form textarea) {
    height: 30px;
}

#mensagem, .checkbox input {
    margin-bottom: 1.5rem;
}

.contato-preferencia legend, .contato-preferencia input {
    margin-bottom: 0.5rem;
}

.contato-preferencia {
    margin-bottom: 1rem;
}

.botao-padrao {
    display: block;
    width: 40%;
    margin: auto;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #ff8c00;
    color: #ffffff;
    border-color: #ff8c00;
    border-radius: 8px;
    padding: 1rem 0;
    box-shadow: 1px 1px 1.5px 1px #000000;
    transition: 0.6s;
    cursor: pointer;
}

.botao-padrao:hover {
    border-color: #888888;
    background-color: #ff981b;
}

.login-conteudo-borda {
    border: solid;
    border-color: #ffffff;
    height: 34.6rem;
}

.abas {
    margin-bottom: 1rem;
}

.abas button {
    display: inline-block;
    width: 30%;
    border: none;
    background-color: #003300;
}

.abas button:hover {
    background-color: #009f00;
}

.abas .ativa {
    background-color: #009f00;
}

.hide {
    display: none;
}

.formularioLogin label, .formularioLogin input, .formularioCadastro label, .formularioCadastro input {
    display: block;
    text-align: left;
    font-size: 1.25rem;
    width: 50%;
}

.formularioLogin label, .formularioCadastro label{
    margin: 0 0 0.5rem 14.5rem;
}

.formularioLogin button, .formularioCadastro button {
    width: 30%;

}