#msg-erro {
    width: 49%;
    background-color: #ffffff;
    color: #ffffff;
    padding: .4rem 0;
    margin: .4rem 0;
    border-radius: 4px;
    display: inline-block;
}

#msg-sucesso {
    width: 49%;
    color: #00bb00;
    background-color: #bbffbe;
    padding: .4rem 0;
    margin: .4rem 0;
    border-radius: 4px;
    display: none;
}

.formulario-cadastro-usuario label:not(.opcoes-genero div label),
.formulario-cadastro-usuario input:not([type='radio']) {
    display: block;
    text-align: left;
    width: 50%;
}

.formulario-cadastro-usuario label:not(.opcoes-genero div label) {
    margin: 0 0 1% 25%;
    font-size: 1.25rem;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type='date']{
    color: #999999;
}

input[type='date']:focus{
    color: #000000;
}

input[type='date']:valid{
    color: #000000;
}

.formulario-cadastro-usuario button {
    width: 30%;
}

.fa-info-circle {
    color: #cdcdcd;
}

.fa-info-circle:hover {
    cursor: pointer;
}

.formulario-cadastro-usuario .input-senha {
  position: relative;
  width: 47.2%;
  left: 24.3%;
  margin: 0 auto 2.5% 0;
}

.formulario-cadastro-usuario .input-senha input {
  width: 100%;
  padding-right: 30px;
}

.tooltip-padrao {
    position: relative;
    display: inline;
    cursor: pointer;
    margin-left: .5rem;
}

.tooltip-padrao span {
    position: absolute;
    width: 20rem;
    font-size: .8rem;
    line-height: 1rem;
    color: #000000;
    background: #eeeded;
    height: fit-content;
    text-align: center;
    visibility: hidden;
    border-radius: 8px;
}

.tooltip-padrao span:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 15%;
}

.tooltip-padrao:hover span {
    visibility: visible;
    padding: .2rem 1rem;
    opacity: 0.9;
    top: -.8rem;
    left: 145%;
    z-index: 999;
    box-shadow: 1px 1px 1.5px 1px #00000050;
}

.tooltip-linha-unica span {
    width: max-content;
}

.tooltip-linha-unica:hover span{
    top: .2rem;
}

.opcoes-genero {
    margin: 0 auto 2.5% auto;
    width: 51%;
}

.opcoes-genero legend {
    font-size: 1.25rem;
    margin: 0 auto 2.5% 1%;
}

.opcoes-genero div {
    display: inline-block;
    margin: 1% .5% 1% .5%;
    font-size: 1.25rem;
}

.mostra-senha-padrao, .esconde-senha-padrao {
  position: absolute;
  top: 7px;
  right: -30px;
  width: 18px;
  z-index: 10;
  border: none;
  background: transparent;
  outline: none;
}

.mostra-senha-padrao:hover, .esconde-senha-padrao:hover {
    cursor: pointer;
}

.esconde-senha-padrao {
    display: none;
}

.divisor {
    margin: 2% auto;
    width: 40%;
}

.link-login a {
    text-decoration: none;
    font-weight: bold;
    color: #008300;
    transition: all .3s ease-out;
}

.link-login a:hover {
    color: #6ECD24;
}
