.conteudo-pagina p {
    font-size: 1.25rem;
    margin: 2rem auto;
    text-align: center;
}

.conteudo-pagina form label, .contato-preferencia legend {
    display: block;
    font-size: 1.25rem;
    margin: 0 0 0.5rem 11.5rem;
    text-align: left;
}

textarea#mensagem {
    font-family: 'Poppins', sans-serif;
}

#mensagem, .checkbox input {
    margin-bottom: 1.5rem;
}

.contato-preferencia legend, .contato-preferencia input {
    margin-bottom: 0.5rem;
}

.contato-preferencia {
    margin-bottom: 1rem;
}
